@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

/* ====================================================================================== */
/* General document settings */
/* ====================================================================================== */

body{
	margin: 0px;
	background-color: white;
	font-family: "Open Sans", trebuchet ms;
}

.bold{
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

a1{
	margin: 0px;
	display: table-cell;
	vertical-align: middle;
}

select{
	font-family: "Open Sans", trebuchet ms;
	padding: 5px;
	font-size: 16px;
	max-height: 300px;
}

/* ====================================================================================== */
/* Top of page element */
/* ====================================================================================== */

.page-top{
        width: 100%;
        height: 47px;
        font-family: "Open Sans", trebuchet ms;
        font-family:'Source Sans Pro', sans-serif;
        margin: 0px;
        padding: 0px;

        background: #54a8f2;
        display: table;
}

.page-top span{
	font-size: 30px;
	font-weight: bold;
	color: black;
	
	margin: auto;
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
        border-bottom: 1px solid black;
}

/* ====================================================================================== */
/* Top menu */
/* ====================================================================================== */

.page-menu{
	width: 100%;
	background: #e0e0e0;
	font-size: 15px;
}

.page-menu .table{
	display: table;
	margin: auto;
}

.page-menu .element{
	display: table-cell;
	padding: 2px;
}

/* ====================================================================================== */
/* Middle menu */
/* ====================================================================================== */

.page-middle{
	width: 100%;
    background: #e0e0e0;
	font-size: 13px;
	padding-top: 2px; 
	padding-bottom: 3px;
	text-align: center;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid black;
}

/* ====================================================================================== */
/* Element containing map */
/* ====================================================================================== */

#page-map{
	width: 73%;
	margin: auto;
	margin-top: 10px;
}

#loading{
	position: absolute;
	z-index: 100;
	margin: auto;
	width: 99%;
	display: none;
	text-align: center;
}


/* ====================================================================================== */
/* Bottom of page element */
/* ====================================================================================== */

.page-footer{
	width: 100%;
	height: 12px;
	margin: 0px;
	padding: 0px;
	display: table;	
}

.page-footer span{
	font-size: 13px;
/*	font-weight: bold; */
	color: black;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* ====================================================================================== */
/* Information Window */
/* ====================================================================================== */

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 45%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.infobutton {
  padding: 0px;
  background-color: #e0e0e0;
  border: none;
  color:#930B01;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.infobutton:hover {
        cursor: pointer;
        text-decoration:underline;
        color:#FF0000;
}

/* ====================================================================================== */
/* Mobile screen handling */
/* ====================================================================================== */

@media only screen and (max-width: 800px){
	.page-menu .element{
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
		font-size: 10px;
	}
	select{
		font-size:14px;
	}
}
@media only screen and (max-width: 950px){
	#page-map{
		width: 98%;
	}
}
